<div class="row">
    <ng-container *ngIf="products.length > 0">
        <div class="col-md-4 col-md-offset-4">
            <div>
                <form>
                    <div class="form-group">
                        <label for="">filtrar:</label>
                        <select class="form-control form-control-lg">
                           <option>Large select</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>

<div class="row">
    <ng-container *ngIf="products.length > 0">
        <div class="col" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{product.image}}" alt="{{product.title}}">
                <div class="card-body">
                  <h5 class="card-title text-truncate">{{product.title}}</h5>
                  <h5 class="card-title text-primary"> <strong>Precio:</strong> $ {{product.price}}</h5>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-primary" [routerLink]="['/detail', product.id]"> Ver detalle</a>
                        </div>
                        <div class="col text-center">
                            <button class="btn" (click)="saveFavorite(product)" [ngClass]="product.isFavorite ? 'btn-warning' : 'btn-secondary' ">
                                <span *ngIf="product.isFavorite">Favorito</span>
                                <span *ngIf="!product.isFavorite">A favorito</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="products.length == 0">
        <div class="col">
            <h1 class="text-center">Cargando productos de la tienda</h1>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>
